[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
readme2tex = {editable = true,git = "https://github.com/leegao/readme2tex.git"}
cairosvg = "*"

[requires]
python_version = "2.7"
